#!/usr/bin/env bash

backupdir="/var/lib/mysql-backup/monarc/"
timeat=$(date +"%Y%m%d_%H%M%S")

mkdir $backupdir  > /dev/null 2>&1

{% for server in groups['dev'] %}
{% set hostname = hostvars[server]['inventory_hostname'] %}
{% if 'clients' in hostvars[server]  %}
{% for key,client in hostvars[server]['clients'].iteritems() %}
mkdir $backupdir/{{client.name}}  > /dev/null 2>&1
mysqldump --defaults-file=/etc/mysql/debian.cnf --databases {{client.name}} > $backupdir/{{client.name}}/$timeat-{{client.name}}.sql
{% endfor %}
{% endif %}
{% endfor %}
