{% for server in groups['dev'] %}
{% set hostname = hostvars[server]['inventory_hostname'] %}
{% if 'clients' in hostvars[server]  %}
{% for key,client in hostvars[server]['clients'].iteritems() %}
ProxyPass /{{client.name}}{{ '-' + hostvars[server].env_prefix if hostvars[server].env_prefix else '' }} http://{{ client.name }}.{{ clientDomain }}
ProxyPassReverse /{{client.name}}{{ '-' + hostvars[server].env_prefix if hostvars[server].env_prefix else '' }} http://{{ client.name }}.{{ clientDomain }}
{% endfor %}
{% endif %}
{% endfor %}
