ProxyPass /{{ bourlalias }}{{ '-' + env_prefix if env_prefix else '' }} http://{{ bourlalias }}{{ '.' + env_prefix if env_prefix else '' }}.{{ clientDomain }}
ProxyPassReverse /{{bourlalias }}{{ '-' + env_prefix if env_prefix else '' }} http://{{ bourlalias }}{{ '.' + env_prefix if env_prefix else '' }}.{{ clientDomain }}

{% for server in groups['dev'] %}
{% set hostname = hostvars[server]['inventory_hostname'] %}
{% if 'clients' in hostvars[server]  %}
{% for key,client in hostvars[server]['clients'].iteritems() %}
ProxyPass /{{client.name}}{{ '-' + hostvars[server].env_prefix if hostvars[server].env_prefix else '' }} http://{{ client.name }}{{ '.' + hostvars[server].env_prefix if hostvars[server].env_prefix else '' }}.{{ clientDomain }}
ProxyPassReverse /{{client.name}}{{ '-' + hostvars[server].env_prefix if hostvars[server].env_prefix else '' }} http://{{ client.name }}{{ '.' + hostvars[server].env_prefix if hostvars[server].env_prefix else '' }}.{{ clientDomain }}
{% endfor %}
{% endif %}
{% endfor %}
