127.0.0.1       localhost
{{ lookup("dig",groups['rpx'][0]+'.'+localDNS) }}     rpx.{{ clientDomain }} rpx

{{ lookup("dig",groups['master'][0]+'.'+localDNS) }}     {{ bourlalias }}.{{clientDomain}} {% if stats_service_prefix_url is defined %}dashboard.{{ clientDomain }}{% endif %}

{% for server in groups['dev'] %}
{% set hostname = hostvars[server]['inventory_hostname'] %}
{% if 'clients' in hostvars[server]  %}
{% for key,client in hostvars[server]['clients'].items() %}
{{ lookup("dig",server+'.'+localDNS) }}     {{client.name}}.{{ clientDomain }}
{% endfor %}
{% endif %}
{% endfor %}

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
