127.0.0.1       localhost
172.18.14.52    rpx.{{ clientDomain }} rpx

{% for server in groups['dev'] %}
{% set hostname = hostvars[server]['inventory_hostname'] %}
{% for key,client in hostvars[server]['clients'].iteritems() %}
172.18.13.62	{{client.name}}.{{ clientDomain }}
{% endfor %}
{% endfor %}

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
