{% if protocol == "https" %}
<VirtualHost *:80>
        ServerName {{ clientDomain }}

        RewriteEngine On
        RewriteCond %{REQUEST_METHOD} !^(GET|POST|PUT|PATCH|DELETE|HEAD)
        RewriteRule .* - [R=405,L]

        Redirect permanent / https://{{ clientDomain }}/
</VirtualHost>

<VirtualHost _default_:443>
        ServerName {{ clientDomain }}

        ServerAdmin webmaster@{{ clientDomain }}
        DocumentRoot /var/www/html

        RewriteEngine On
        RewriteCond %{REQUEST_METHOD} !^(GET|POST|PUT|PATCH|DELETE|HEAD)
        RewriteRule .* - [R=405,L]

        <IfModule mod_headers.c>
           Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
           Header always set X-Content-Type-Options nosniff
           Header always set X-XSS-Protection "1; mode=block"
           Header always set X-Robots-Tag none
           Header always set X-Frame-Options SAMEORIGIN
        </IfModule>

        SSLEngine on

        {% if certificate == "letsencrypt" %}
        #Alias Certbot-auto
        Alias /.well-known/acme-challenge    /var/www/letsencrypt/.well-known/acme-challenge

        <Directory /var/www/letsencrypt/.well-known/acme-challenge/>
            Require all granted
        </Directory>

        SSLCertificateFile "/etc/letsencrypt/live/{{ clientDomain }}/fullchain.pem"
        SSLCertificateKeyFile "/etc/letsencrypt/live/{{ clientDomain }}/privkey.pem"
        {% else %}
        SSLCertificateFile "{{ certificate }}"
        SSLCertificateKeyFile "{{ certificatekey }}"
        {% if certificatechain and certificatechain != ""  %}
        SSLCertificateChainFile "{{ certificatechain }}"
        {% endif %}
        {% endif %}

        SSLProxyEngine On
        SSLProxyVerify none
        SSLProxyCheckPeerCN off
        SSLProxyCheckPeerName off
        SSLProxyCheckPeerExpire off

        Include "/etc/apache2/client_redirection"

        ProxyTimeout 1200

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
{% else %}
<VirtualHost *:80>
        ServerName {{ clientDomain }}

        ServerAdmin webmaster@{{ clientDomain }}
        DocumentRoot /var/www/html

        RewriteEngine On
        RewriteCond %{REQUEST_METHOD} !^(GET|POST|PUT|PATCH|DELETE|HEAD)
        RewriteRule .* - [R=405,L]

        Include "/etc/apache2/client_redirection"

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
{% endif %}
